<h1>ログイン</h1>

<%= form_with url: session_path, local: true do |f| %>
  <p>
    <%= label_tag :student_no, "学籍番号" %><br>
    <%= text_field_tag :student_no %>
  </p>

  <p>
    <%= label_tag :password, "パスワード" %><br>
    <%= password_field_tag :password %>
  </p>

  <%= submit_tag "ログイン" %>
<% end %>

<%= notice %>
<%= alert %>

