<p style="color: green"><%= notice %></p>

<% content_for :title, "Books" %>

<div class="search-panel">
  <%= form_with url: books_path, method: :get, local: true do %>
    <div class="form-group">
      <%= label_tag :query, "書籍検索" %>
      <%= text_field_tag :query, params[:query], placeholder: "タイトル・著者を入力", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= label_tag :category, "カテゴリ選択" %>
      <%= select_tag :category, options_for_select(@categories, params[:category]), include_blank: "すべて", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= submit_tag "検索", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>



<div id="books">
  <% if @books.any? %>
    <table class="book-table">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>著者</th>
          <th>ISBN</th>
          <th>カテゴリ</th>
          <th>冊数</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><%= link_to book.title, book %></td>
            <td><%= book.author %></td>
            <td><%= book.isbn %></td>
            <td><%= book.category %></td>
            <td><%= book.total_copies %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>該当する書籍は見つかりませんでした。</p>
  <% end %>
</div>

<% if current_user && current_user.role == "司書" %>
  <%= link_to "新規作成", new_book_path %>
  <%= link_to "貸出一覧", loans_path %>
  <%= link_to "延滞一覧", overdue_loans_path %>
<% end %>
